<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Denuncias</h1>
            </div>
        </div>
    </div>
</section>

<section>

<div class="container">


    <div class="row">
      <div class="col-xs-10">
      </div>
      <div class="col-xs-2">
        <a class="btn btn-warning" href="/complaints/new">Public&aacute; tu denuncia!</a>
        <br>&nbsp;<br>
      </div>      
    </div>
    <div class="row">
    <% @complaints.each do |complaint| %>
        <div class="col-xs-3">
            <div class="portfolio-item">
                <a href="/complaints/<%= complaint.id %>">
                <div class="item-inner">
                    <% if  not complaint.image.blank? %>
                        <%= image_tag complaint.image.url %>
                    <% else %>
                        <%= image_tag "hamFINAL.png" %>
                    <%end %>
                    <h5><%= complaint.title %></h5>
                    <hr>
                    <% 
                    if user_signed_in?
                        user = current_user
                    else
                        user = guest_user
                    end
                        if complaint.exist_like(user) %>
                        <a class="btn btn-default active" >Sumado</a>
                    <% else %>
                        <a class="btn btn-warning" href="/like/<%= complaint.id %>">Me sumo</a>
                    <% end  %>
                    <%= complaint.likes.count %> Sumados
                    <br>&nbsp;<br>
                </div>           
                </a>
            </div><!--/.portfolio-item-->
        </div>
    <% end %>

    </div>
  </div>
</section>

