<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Iniciar sesi&oacute;n</h1>
            </div>
        </div>
    </div>
</section>


<section id="registration" class="container">


<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "center"}) do |f| %>
        <fieldset class="registration-form">

            <div class="form-group">
                <%= f.email_field :email, autofocus: true, :placeholder=>"E-mail", :class => "form-control input-lg" %>
            </div>
            <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", :placeholder=>"Password", :class => "form-control input-lg" %>
            </div>
            <div class="form-group"> 
                <%= f.submit "Iniciar sesión", :class => "btn btn-success btn-lg btn-block"  %>
            </div>

            <%= render "devise/shared/links" %>


            <div class="form-group">
                <h5>O ingresa con tus cuentas sociales</h5>
            </div>
            <div class="form-group"> 
              <%= link_to raw("<i class='icon-facebook '></i> Ingresa con Facebook"), user_omniauth_authorize_path(:facebook), :class => "btn btn-lg btn-social btn-facebook" %>
            </div>
            <div class="form-group"> 
              <%= link_to raw("<i class='icon-twitter '></i> Ingresa con Twitter"), user_omniauth_authorize_path(:facebook), :class => "btn btn-lg btn-social btn-twitter" %>
            </div>
        </fieldset>

</section><!--/#registration-->
<% end %>


